<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rehome</title>

    <!-- css file -->
    <link rel="stylesheet" href="css/register.css">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/pets.png" type="image" />


</head>

<body>
    <div class="container-fluid cont-login">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 left-side d-none d-md-block">
                <div class="container">
                    <div class="row login-left">
                        <p class="brand-name">Rehome Pet</p>
                        <img class="img-fluid" src="images/add-pets.svg">

                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-7 right-side">
                <div class="login-form">

                    <form action="add_pets" method="POST" enctype="multipart/form-data">
                        <br>
                        <br>
                        <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= error.msg %>
                        </div>
                        <% }); %>
                        <% } %>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="name">Pet Name</label>
                            <input type="text" class="form-control" name="petname" placeholder="Enter name"
                                value="<%= typeof petname != 'undefined' ? petname : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Pet Age</label>
                            <input type="text" class="form-control" name='petage' placeholder="Enter age"
                                value="<%= typeof petage != 'undefined' ? petage : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Breed</label>
                            <input type="text" class="form-control" name="breed" placeholder="Enter breed"
                                value="<%= typeof breed != 'undefined' ? breed : '' %>">
                        </div>

                        <div class="form-group">
                            <label>Color</label>
                            <input type="text" class="form-control" name="color" placeholder="Enter color"
                                value="<%= typeof color != 'undefined' ? color : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter phone"
                                value="<%= typeof phone != 'undefined' ? phone : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control" name="pet_image" id="pet_image" required=true>
                        </div>
                        <button type="submit" class="btn button">Add Pet</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>