<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>

    <!-- css file -->
    <link rel="stylesheet" href="css/register.css">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/pets.png" type="image" />


</head>

<body>
    <div class="container-fluid cont-login">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 left-side d-none d-md-block">
                <div class="container">
                    <div class="row login-left">
                        <p class="brand-name">PetAdoption</p>
                        <p class="brand-desc">Adopt a pet before they have to go to the shelter.</p>
                        <img class="img-fluid" src="images/register.svg">

                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-7 right-side">
                <div class="login-form">
                    <br>
                    <h2 class="sign">Sign up to PetAdoption</h2>
                    <form action="register" method="POST" enctype="multipart/form-data">
                        <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= error.msg %>
                        </div>
                        <% }); %>
                        <% } %>
                        <div class="form-group">
                            <label class="name">Name</label>
                            <input type="text" class="form-control" name="name"
                                value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name='email'
                                value="<%= typeof email != 'undefined' ? email : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password"
                                value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>

                        <div class="form-group">
                            <label>Re-Enter Password</label>
                            <input type="password" class="form-control" name="password2"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Profile image</label>
                            <i class="far fa-heart" aria-hidden="true"></i>
                            <input type="file" class="form-control" name="image" id="image">
                        </div>
                        <button type="submit" class="btn button">Create account</button>
                    </form>
                    <p class="mt-4">Have An Account? <a class="feat" href="login">Login</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>